body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}


.topNav{
    overflow: hidden;
    position: relative;
    background-color: #111111;
    size-adjust: 100%;
    
}

.topNav a{
    float: left;
    color: firebrick;
    text-align: center;
    padding: 16px 16px;
    font-size: 17px;
    text-decoration: line-through;
}

.topNavRight{
    float: right;
    position: relative;
    flex-direction: column;
    
}

.topNav a:hover{
    background-color: #b22222;
    color: rgb(51, 51, 51);
}

.topNav a.active{
    background-color: #b22222;
    color: #333 ;
}

h1{
    text-align: center;
    color: #b22222;
    text-transform: uppercase;
    font: 'Franklin Gothic Medium';
}

p{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.container{
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
}

.top{
    position: relative;
    text-align: center;
    bottom: 1450px;


}

.bottomLeft{
    position: relative;
    color: white;
}

.textContainer{
    padding-left: 160px;
    padding-right: 160px;
}

.flexContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 16px;
    text-align: justify;
    align-items: center;
    padding-left: 160px;
    padding-right: 160px;
}

.flexItem1{
    text-align: center;
}

.flexItem2{
    
    padding: 10px;
    flex: 50%;
}

.flexItem2 img{
    width: 100%;
    height: 100%;
}

.flexItem3{
    padding: 10px;
    flex: 30%;
    align-items: center;
}

.flexItem3 img{
    width: 100%;
    height: 100%;
    
}

.flexItem4{
    background-color: black;
    padding: 10px;
    flex: 50%;
}

.flexItem4 img{
    width: 100%;
}

@media (max-width: 800px){
    .flexContainer{
        flex-direction: column;
    }
}

h3{
    position: center;
    text-align: center;
    color: #b22222;
    text-transform: uppercase;
}

.flexItem6{
    padding: 10px;
    flex: 30%;
}

.flexItem6 img{
    width: 100%;
    height: 250px;
    
}