html, body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F0DBBE;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}
a{
    text-decoration: none;
    color: inherit;
}

#dropdown-nav a{
    color: #F0DBBE;
    font-family: "Creepster", system-ui;
    font-size: 25px;
    text-align: center;
}

h1{
    font-family: "Creepster", system-ui;
    color: #67161F;
    font-size: 60px;
    text-align: center;
}

h2{
    font-family: "Creepster", system-ui;
    color: #67161F;
    font-size: 40px;
    text-align: center;
}
h3{
    font-family: "Creepster", system-ui;
    color: #67161F;
    font-size: 30px;
    text-align: center;
}

.movieItem h3{
    font-family: "Creepster", system-ui;
    color: #F0DBBE;
    font-size: 25px;
    text-align: center;
    padding-top: 1em;
}

button{
    border: none;
    background-color: transparent;
    text-decoration: underline;
}

.moreButton{
    width: 10%;
}
input{
    border: none;
    display: flex;              /* enables flexbox */
    justify-content: center;    /* horizontal centering */
    align-items: center;        /* vertical centering */
    flex-direction: column; 
}
.creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
  }


.offcanvas-title{
    font-family: "Creepster", system-ui;
    color: #F0DBBE;
    font-size: 50px;
}

header{
    margin-bottom: 4.4%;
}

.modal-body{
    font-family: "Creepster", system-ui;
}

.navbar{
    background-color: #661219;
    display: flex;
    padding: 42px;
}

.navbar-toggler-icon{
    background-color: #F0DBBE;
    border-radius: 5px;
    border
}

#searchBar input{
    background-color: #F0DBBE;
    border: 3px solid #67161F;
    border-radius: 15px;
    padding:10px;
    width: 40em;
    color: #67161F;
}
input {
    font-family: "Creepster", system-ui;
    color: #67161F;
    font-size: 20px;

}
input ::placeholder{
    font-family: "Creepster", system-ui;
    color: #67161F;
    opacity: 1; /* Firefox */
}
#splashBackground img{
    width: 100%;
    height: auto;
    position: absolute;
}

#dropdown-menu{
    background-color: #67161F;
}

#dropdown-nav{
    display: none;
}

.splashContainer{
    display: flex;
    justify-content: center;    /* horizontal centering */
    align-items: center;        /* vertical centering */
    flex-direction: column;     /* stack children vertically */
    font-family: "Creepster", system-ui;
    color: #67161F;
    padding: 15%;
    margin-top: -50px;
}

.movieItem{
    font-family: "Creepster", system-ui;
    color: #F0DBBE;
    padding: 30px;
    flex: 30%;
    align-items: center;
    align-content: row;
    border: 20px;
    background-color: #67161F;
    border-radius: 16px;
    margin: 2em;
    
}

.movieItem:hover{
    background-color: #AD2F33;
}

.movieItem img{
    width: 100%;
    height: auto;
    border-radius: 16px;
    
}

.movieContent h3, p{
    font-family: "Creepster", system-ui;
    color: #F0DBBE;
}

.movieContent{
    padding: 30px;
    background-color: #AD2F33;
    margin: 30px;
    border-radius: 16px;
}

#reviewContinued{
    display: none;
}

.footer{
    background-color: #67161F;
}

footer h3{
    font-family: "Creepster", system-ui;
    color: #F0DBBE;
}

footer{
    margin-top: auto;
}

footer img{
    display: block;
    width: 100%;
    height: auto;
}