html, body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F0DBBE;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

button{
    border: none;
    background-color: transparent;
    text-decoration: underline;
}

input{
    border: none;
    display: flex;              /* enables flexbox */
    justify-content: center;    /* horizontal centering */
    align-items: center;        /* vertical centering */
    flex-direction: column; 
}
.creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
  }


.offcanvas-title{
    font-family: "Creepster", system-ui;
    color: #F0DBBE;
    font-size: 50px;
}

header{
margin-bottom: 5%;
}

.modal-body{
    font-family: "Creepster", system-ui;
}

.navbar{
    background-color: #661219;
}

.navbar-toggler-icon{
    color: #F0DBBE;
}

.offcanvas{
    background-color: #67161F;
}

.dropdown-item{
    color: #F0DBBE;
    text-decoration: line-through;
    font-size: 20px;
}

.dropdown-item:hover{
    text-decoration: none;
    color: #F0DBBE;
}

.dropdown-item.active{
    color: #F0DBBE;
    text-decoration: none;
}

.splashBackground{
    background-image: url(../assets/images/Splash.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 500px;
}

.splashContainer{

    display: flex;              /* enables flexbox */
    justify-content: center;    /* horizontal centering */
    align-items: center;        /* vertical centering */
    flex-direction: column;     /* stack children vertically */
    font-family: "Creepster", system-ui;
    color: #67161F;
    padding: 15%;
}

.movieItem{
    font-family: "Creepster", system-ui;
    color: #F0DBBE;
    padding: 30px;
    flex: 30%;
    align-items: center;
    align-content: row;
    border: 20px;
    background-color: #67161F;
    border-radius: 16px;
    margin: 2em;
    
}

.movieItem:hover{
    background-color: #AD2F33;
}

.movieItem img{
    width: 13.5em;
    height: 20em;
    
}

.movieContent h3{
    font-family: "Creepster", system-ui;
    color: #67161F;
}

.movieContent{
    padding: 30px;
    background-color: #AD2F33;
    margin: 30px;
    border-radius: 16px;
}

.footer{
    background-color: #67161F;
}

footer h3{
    font-family: "Creepster", system-ui;
    color: #F0DBBE;
}

footer{
    margin-top: auto;
}

footer img{
    display: block;
    width: 100%;
    height: auto;
}