/* Used the #app nuclear option to win the Specificity Wars DUCK YOU BOOTSTRAP*/

#app{
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #F0DBBE;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
}
a{
  text-decoration: none;
  color: inherit;
}

#dropdown-nav a{
  color: #F0DBBE;
  font-family: "Creepster", system-ui;
  font-size: 25px;
  text-align: center;
}

#dropdown-nav a:hover{
  color: #AD2F33;
}

#app h1{
  font-family: "Creepster", system-ui;
  color: #67161F;
  font-size: 60px;
  text-align: center;
}

#app h2{
  font-family: "Creepster", system-ui;
  color: #67161F;
  font-size: 40px;
  text-align: center;
}
#app h3{
  font-family: "Creepster", system-ui;
  color: #67161F;
  font-size: 30px;
  text-align: center;
}

.movieItem h3{
  font-family: "Creepster", system-ui;
  color: #F0DBBE;
  font-size: 25px;
  text-align: center;
  padding-top: 1em;
}

#app button{
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

.moreButton{
  width: 10%;
}
#app input{
  border: none;
  display: flex;              /* enables flexbox */
  justify-content: center;    /* horizontal centering */
  align-items: center;        /* vertical centering */
  flex-direction: column; 
}
.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}

.modal-body{
  font-family: "Creepster", system-ui;
}

.navbar{
  background-color: #67161F;
  display: flex;
  padding: 42px;}

.navbar-float{
  display: inline-flex;

  background-color: #67161F;
  border-radius: 15px;
  margin-top: 1em;
}


.navbar-toggler-icon img{
  width: 100%;
  height: auto;
}

#searchBar input{
  background-color: #F0DBBE;
  border: 3px solid #67161F;
  border-radius: 15px;
  padding:10px;
  width: 40vw;
  height: 3em;
  color: #67161F;
}
#app input {
  font-family: "Creepster", system-ui;
  color: #67161F;
  font-size: 20px;

}
#app input ::placeholder{
  font-family: "Creepster", system-ui;
  color: #67161F;
  opacity: 1; /* Firefox */
}
#app #splashBackground img{
  width: 100%;
  height: auto;
  position: absolute;
}

#app #splashBackground{
  /* background-image: url(./assets/images/splash.png);
  background-repeat: no-repeat; */
  height: 50vh;
}

#dropdown-menu{
  background-color: #67161F;
  padding-top: '30em'; 
  opacity: 1; 
  transition: 'all 1s ease';
 }

#dropdown-container{
  padding-top: 5em;
}
#dropdown-nav{
  display: none;
  background-color: #67161F;
  padding-bottom: 4em;

}

#app .drip-wrapper {
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1); /*smooth drippy ease (just like Grandma (jQuery) used to make)*/
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 999;
}

/* when the menu is hidden */
#app .drip-closed {
  max-height: 0;
  opacity: 0;
  padding-top: 0;
  pointer-events: none; /*to prevent user clicking the ghost of holloween past (the links)*/
}

#app .drip-open {
  max-height: 150vh;
  opacity: 1;
  pointer-events: auto;
}

.splashContainer{
  display: flex;
  justify-content: center;    /* horizontal centering */
  align-items: center;        /* vertical centering */
  flex-direction: column;     /* stack children vertically */
  font-family: "Creepster", system-ui;
  color: #67161F;
  padding: 15%;
  /* margin-top: -50px; */
}

.movieItem{
  font-family: "Creepster", system-ui;
  color: #F0DBBE;
  padding: 30px;
  align-items: center;
  align-content: row;
  background-color: #67161F;
  border-radius: 16px;
  margin: 2em;
  
}

.movieItem:hover{
  background-color: #AD2F33;
}

.movieItem img{
  width: 100%;
  height: auto;
  border-radius: 16px;
  
}

.movieContent h3, p{
  font-family: "Creepster", system-ui;
  color: #F0DBBE;
}

.movieContent{
  padding: 30px;
  background-color: #AD2F33;
  margin: 30px;
  border-radius: 16px;
}

#reviewContinued{
  display: none;
}

.footer{
  background-color: #67161F;
}

#app footer{
  margin-top: auto;
}

#app footer img{
  display: block;
  width: 100%;
  height: auto;
}